$white: #FFF;

$grey--lighter: #F1F1F1;
$grey--light: #F6F7F9;
$grey--medium: #DDDFE2;
$grey--dark: #777;
$grey--darkest: #4E5665;

$blue--facebook: #4367b1;
$blue--light: #16A0DC;
$blue--dark: #213A97;
$blue--primary: #263d83;
$blue--dark-transparent: rgba(33,58,151,0.07);

$black: #000;

$green: #23A046;