$white: #FFF;
$off-white: #f5f6f6;

$dark--green: #344754;
$light--green: #687b8b;

$grey--lighter: #F1F1F1;
$grey--light: #F5F6F7;
$grey--medium: #DDDFE2;
$grey--dark: #677a8c;
$grey--darkest: #565E6B;

$blue--facebook: #4367b1;
$blue--light: #16A0DC;
$blue--dark: #233D93;

$blue--primary: #233D93;
$blue--secondary: #179FDC;

$black: #232323;
$off-black:#232323;

.dark-primary{
  color: $dark--green;
}

.blue-primary {
  color: $blue--primary;
}
.blue-secondary {
  color: $blue--secondary;
}
.blue-light {
  color: $blue--light;
}
.grey-dark {
  color: $grey--dark;
}
.grey-darkest {
  color: $grey--darkest;
}
