* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    color: $grey--dark;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    @extend .heading1;
}

h2 {
    @extend .heading2;
}

h3 {
    @extend .heading3;
}

h4, h5, h6 {
    @extend .heading4;
}

p {
    @extend .paragraph;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    color: inherit;
    background: none;
    cursor: pointer;
    border: none;
    font: inherit;
}

ol.reset,
ul.reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.reset {
    margin: 0;
}